.container {
    text-align: center;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.container h2 {
    font-size: 20px; 
    margin-bottom: 25px; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.santanaImage {
    width: 100px; 
    height: auto;
    margin-left: 10px; 
}


