
.contact {
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f7f7f7;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contact h1 {
    font-size: 20px; 
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
    text-decoration: none;
    color: #ff008c;
    font-size: 20px; 
}

