.contato {
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f7f7f7;
}

.contato h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contato h1 {
    font-size: 20px; 
}

.contato ul {
    list-style: none;
    padding: 0;
}

.contato li {
    margin-bottom: 10px;
    text-decoration: none;
    color: #ff008c;
    font-size: 20px; 
}
