body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#botaoContainer {
    margin-top: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s;
}